.container {
  background-image: url("../../images/background.jpg");
  background-size: cover;

}

.container>* {
  color: #49a1e3;
}

* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
}

.main {
  width: 100%;
  height: 100%;
}

.login {
  width: 100%;
  height: 100%;
}