.container {
    display: flex;
    flex-direction: column;
    height: 90vh;
}

.selectedRolesContainer {
    width: 100%;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    flex: 0 0 33%;
    gap: 15px;
    align-items: center;
}

.availableRolesContainer {
    width: 100%;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    flex: 2 0 33%;
    gap: 15px;
    align-items: center;
}

.card {
    margin: 5px 0px;
}

.myCard {
    border-color: rgb(15, 144, 250);
}

.readyButton {
    font-size: 1vw;
    height: 100%;
    width: 100%;
}

.roleWithButton {
    display: flex;
    flex-direction: column;
    width: 9vw;
}

.availableRoleCard {
    width: 9vw;
}

.leaveButton {
    position: absolute;
    top: 2vh;
    right: 2vh;
}