.gameSelectionPanel {
    position: absolute;
    top: 10vh;
    margin: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.createGameButton {
    position: absolute;
    bottom: 2vh;
    right: 2vw;
}

.onlineCountPanel {
    position: absolute;
    top: 2vh;
    right: 2vw;
}