.container {
}

.image {
    max-height: 100%;
    max-width: 100%;
    border-radius: 15px;
    background-color: #49a1e3;
}

.image:hover {
    background-color: aliceblue;
}

.image:active {
    background-color: rgb(196, 228, 228);
}

.image:disabled {
    background-color: rgb(154, 158, 158);
}