.main {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@keyframes alertAnimation {
    from {
        border-color: rgb(255, 0, 0);
    }

    to {
        border-color: rgb(240, 231, 228);
    }
}

.alert {
    border-style: solid;
    animation-name: alertAnimation;
    animation-duration: 0.3s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

.me {
    border-color: rgb(15, 144, 250);
}