.container {
    display: grid;
    justify-items: center;
    align-items: center;
    gap: 5px;
}

.shiftCell {
    height: 25px;
}

.suspectCell {
    height: 100%;
}

.mySuspect {
    border-color: rgb(15, 144, 250);
}

.teamSuspect {
    border-color: rgb(50, 185, 79);
}