.main {
    display: flex;
    flex-direction: column;
    gap: min(0.5%, 30px);
    height: 100%;
}

.shiftRow {
    display: flex;
    justify-content: center;
    gap: 8.9%;
    height: 3.5%;
}

.suspectsRow {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: min(3%, 40px);
    height: 13.5%;
    width: 100%;
}

.mySuspect {
    border-color: rgb(15, 144, 250);
}

.teamSuspect {
    border-color: rgb(50, 185, 79);
}