#profile {
    display: flex;
    position: absolute;
    top: 20px;
    right: 40px;
    align-items: center;
}

.img {
    background: none;
    border: 2px solid #c23866;
    padding: 6px 12px;
    border-radius: 4px;
    font-weight: bold;
    font-size: 1em;
}

.img:hover {
    background: #c23866;
    color: #fff;
}