$anime-time : 3s;
$box-size : 120px;
$clip-distance : .02;
$clip-size : $box-size * (1 + $clip-distance * 2);
$path-width : 1px;
$working-animation-color: #8c9bf9;
$border-color: #e8e9f3;

.box {
  position: relative;
  width: $box-size;
  height: $box-size;
  border: 5px solid rgb(221, 221, 221);
  border-radius: 5px;
}

.box:hover {
  border-color: rgb(217, 235, 163);
}

.box:active {
  border-color: rgb(192 255 0);
}

.highlight {
  border-color: rgb(192 255 0);
  border-style: dashed;
}

.contentImage {
  display: block;
  margin: auto;
  width: 100%;
  height: 100%;
  aspect-ratio: 1;
}

.description {
  position: absolute;
  bottom: 0;
  left: 0;
  font-family: Consolas;
  font-weight: 900;
  font-size: 20px;
  background-color: rgb(189 189 189 / 50%);
  border-radius: 6px;
  color: honeydew;
}

.description:hover {
  cursor: default;
}