.box {
  position: relative;
  border: 5px solid rgb(221, 221, 221);
  border-radius: 5px;
}

.box:hover {
  border-color: rgb(217, 235, 163);
}

.box:active {
  border-color: rgb(241 192 53);
  ;
}

.highlight {
  border-color: rgb(241 192 53);
  ;
  border-style: dashed;
}

.contentImage {
  max-height: 100%;
  max-width: 100%;
  aspect-ratio: 1;
}


@mixin description {
  font-family: Consolas;
  font-weight: 900;
  font-size: 0.75vw;
  background-color: rgba(100, 206, 218, 0.72);
  border-radius: 10%;
  color: #ffffff;
}

.topDescription {
  position: absolute;
  top: 1%;
  left: 1%;
  @include description;
}

.bottomDescription {
  position: absolute;
  bottom: 1%;
  left: 1%;
  @include description;
}

.description:hover {
  cursor: default;
}