.box {
  position: relative;
  border: 5px solid rgb(221, 221, 221);
  border-radius: 5px;
}

.box:hover {
  border-color: rgb(217, 235, 163);
}

.box:active {
  border-color: rgb(192 255 0);
}

.highlight {
  border-color: rgb(192 255 0);
  border-style: dashed;
}

.contentImage {
  max-height: 100%;
  max-width: 100%;
  aspect-ratio: 1;
}

.description {
  position: absolute;
  bottom: 0;
  left: 0;
  font-family: Consolas;
  font-weight: 900;
  font-size: 0.95vw;
  background-color: rgb(189 189 189 / 50%);
  border-radius: 6px;
  color: honeydew;
}

.description:hover {
  cursor: default;
}