.container {
    padding: 1vh;
    display: grid;
    grid-template-columns: 7% 65% 7%;
    grid-template-rows: 100% 40%;
    justify-content: space-between;
}

.leftPlayersPanel{
}

.rightPlayersPanel {
}

.arena {
}

.actionsPanel {
    position:absolute;
    left: 1vw;
    bottom: 3vh;
    max-width: 10%;
    max-height: 40%;
}