.main {
    height: 100%;
}

.upper {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.leftPlayersPanel{
    margin-top: 1vh;
    margin-left: 1vh;
}

.rightPlayersPanel {
    margin-top: 1vh;
    margin-right: 1vh;
}

.arena {
    width: 80%;
    height: 100%;
}

.actionsPanel {
    position:absolute;
    left: 1vw;
    bottom: 1vh;
}