.container {
    padding: 1vh;
    display: grid;
    grid-template-columns: 7% 65% 7%;
    grid-template-rows: 4% 96%;
    justify-content: space-between;
}

.score {
    grid-column: 1 / span 3;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5vw;
    font-family: Consolas;
    color: aliceblue;
    position: relative;
    top: -0.6vh;
}

.leftPlayersPanel {}

.rightPlayersPanel {}

.arena {}

.actionsPanel {
    position: absolute;
    left: 1vw;
    bottom: 3vh;
    max-width: 10%;
    max-height: 40%;
}