.dialog {
    position: fixed;
    bottom: 2%;
    right: 2%;
    max-width: 10vw;
}

.dialogContent {
    background-color: rgb(30 36 38);
    border-radius: 15px;
}

.contentRoot {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}