.main {
    position: relative;
}

.markerImg {
    width: 27px;
    border-radius: 12%;
    border-width: 3px;
}

.stateModifier {
    position: absolute;
    width: 90%;
    top: 3%;
    left: 6%;
    pointer-events: none;
}

.markers {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
}

.highlight {
    border-color: rgb(192 255 0);
    border-style: dashed;
}

.highlight:hover {
    border-color: rgb(217, 235, 163);
    border-style: dashed;
}

.highlight:active {
    border-color: rgb(192 255 0);
}